language: php
php:
    - 5.6
    - 5.5
    - 5.4

install: composer install

services:
    - memcached

before_script: 
    - printf "\n" | pecl install -f memcache-3.0.8
    -   mysql -e 'CREATE DATABASE test_db;' -uroot
    - sudo apt-get update -qq
    - mkdir app
    - mkdir app/template/

script: phpunit
