
/*BELOW IS APPLIED STYLES*/
/* ------------ DEFAULTS ------------------*/
.clear {
position:relative;
width:100%:
display:block;
clear:both;
}
body {
position:relative;
margin:0 auto;
}

#top-page {
position:absolute;
top:0;
background-color:#000;
width:100%;
}

#bottom-page {
position:relative;
}


/* -------------- BORDERS AND UTILITIES ----------------- */
.bold {
font-weight:bold;
}
.bb {
border-bottom:2px solid #222;
}

.small {
font-size:.8em;
}
.medium {
font-size:1.2em;
}
.large {
font-size:1.4em;
}
.note {
background-color:#F7FF90;
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
padding:10px;
}

.margin-top-med {
margin-top:1% !important;
}
.margin-top-large {
margin-top:3% !important;
}
.margin-large {
margin-top:3% !important;
margin-bottom:3% !important;
}

/* --------------- APPLIED -----------------------------*/
body.row > .row {
margin-right:0 !important;
margin-left:0 !important;
}
.row.add-margin {
margin:15px 0px !important;
padding:5px 0px
}

h1 {
color:#fff;
}

.prices li {
width:30%;
display:inline-block;
font-size:.8em;
}

.table thead td {
cursor:pointer;
}

.table {
width:100% !important;
}

